
    body {
      background-color: #CCCCCC;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .container {
      background: linear-gradient(to bottom, #1F0C22, #631F6F);
      max-width: 50rem;
      margin: auto;
      padding: 0.62rem; 
      border-radius: 0.62rem; 
      color: white;
      text-align: center;
    }
    .header {
      margin-bottom: 1.25rem;
    }
    .header-title {
      color: #FECD23;
      font-size: 1.75rem;
      font-weight: 700;
    }
    .container2 {
      background: linear-gradient(to bottom, #631F6F, #1F0C22);
      padding: 1.25rem; 
      border-radius: 0.93rem;
      margin: 1.85rem 1.25rem;
      font-size: 1.5rem;
    }
    .formulario {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem; 
      margin: 2.5rem 0;
    }
    .input {
      padding: 0.6rem; 
      border: none;
      border-radius: 0.3rem;
      width: 80%;
      font-size: 1rem; 
      outline: none;
    }
    .flex-container {
      display: flex;
      justify-content: space-between;
      gap: 2.5rem;
      margin-top: 0.9rem; 
    }
    .coluna {
      background: linear-gradient(to bottom, #0056be, #00c6ff) padding-box, linear-gradient(to bottom, #2637DA , #342988) border-box;
      border: 0.6rem solid transparent; 
      flex: 1;
      border-radius: 0.6rem;
      color: white;
      text-align: center;
    }
    .coluna p {
      margin: 1.25rem 0 0;
    }
    .imagem {
      width: auto;
      height: 9.3rem;
    }
    .button {
      background-color: #1D0C20;
      border-radius: 0.3rem;
      padding: 0.62rem 1.87rem;
      font-size: 1.12rem; 
      display: inline-block;
      cursor: pointer;
      margin: 0 0 0.62rem;
      color: white;
    }
    .button:hover {
      background-color: #631F6F;
    }

@media screen and (max-width: 620px){

    html{
      font-size: 14px;
    }
    .flex-container {
      flex-direction: column;
      gap: 2rem;
    }
    .input{
      width: 90%;
    }
    .coluna {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
}
